/* Base styles */
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
}
/* Header styles */
header {
  background-color: #333333;
  padding: 15px;
  text-align: center;
  border-bottom: 15px solid purple;
}
/* Section styles */
section {
  margin: 20px;
}
/* Footer styles */
footer {
  background-color: #333333;
  padding: 10px;
  text-align: center;
}
/* Element Selector */
h2 {
  color: black;
}
/* Class Selector */
.highlight {
  background-color: purple;
  color: white;
  padding: 4px;
}
/* ID Selector */
#header {
  border-bottom: 2px solid greenyellow; /*Overwrites previous header setting*/
}
/* Attribute Selector */
a[href^="mailto"] {
  color: orange;
}
/* Pseudo-Class */
a:hover {
  color: white;
}
/* Pseudo-Element */
p::first-line {
  font-weight: bold;
}
/* Combinator Selector */
header + main {
  border-top: 6px solid gray;
}